@model WebApp.Models.MSRTask

@{
    ViewData["Title"] = "Delete";
}

<div class="jumbotron">
    <h1>Are you sure you want to delete @Html.DisplayFor(model => model.MSRtitle)</h1>
</div>
<div>
    <h4>MSRTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSRtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSRtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSRNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSRNote)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MsrID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
