@model IEnumerable<WebApp.Models.Analyst>

@{
    ViewData["Title"] = "List of BAs";
}

<div class="jumbotron">
    <h1>BA List</h1>
    <p>
        <a class="btn btn-primary btn-lg" asp-action="Create">Add New BA</a>
    </p>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BAFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BALName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BAFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BALName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BAID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BAID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BAID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
